{{#contentFor 'pageStyle'}}
<style>
  .to_do {
    color: red;
    display: inline-block;
    width: 50%;
  }

  .finished {
    color: blue;
    text-align: right;
    display: inline-block;
    width: 50%;
  }

  .desc {
    width: 2rem;
    display: inline-block;
  }
  .checkedbox {
    margin-left: 10rem;
  }

  button {
    background-color: blue;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
  }

  .btn-group {
    display: block;
  }

  .editBtn {
    background-color: palevioletred;
    display: inline-block;
  }

  .addBtn {
    display: inline-block;
    background-color: cadetblue;
  }
</style>
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script type="application/javascript", src="javascripts/toDoList.js">
</script>
{{/contentFor}}

<h1 style="text-align: center">{{title}}</h1>
<div id="content"></div>